:root {
  --main-bg-color: #7dc2ad;
  --main-txt-color: white;
  --main-titles: 'Anton', sans-serif;
  --main-text: 'Poppins', sans-serif;
}



.outline {
    outline: 2px solid gold;
}

body { font-size: 62.5%; background-color: #fac2c1;}



.appcontainer {background-color: var(--main-bg-color);  color: var(--main-txt-color); width: 90%; padding: 10px; margin: 10px auto; border-radius: 30px; border-style:ridge;}

h1 {font-family: var(--main-titles); text-align: center; font-size: 6em;}

header {text-align: center; padding: 10px;}

button {background-color: #c38d9d; border: 2px solid #E27D60; padding: 10px; font-size: 4em; color: white; border-radius: 20px; text-transform: uppercase; margin: 10px 0;}

button:hover {background-color: white; color: #c38d9d;}

main {padding: 20px;}

.record {padding: 10px; font-size: 3em; text-align:center;}

.record button {font-size: 1em;}

.record a {text-decoration: none; color: white;}

.title {font-weight:900;}

.modalcontainer {
    background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1000;
	overflow: auto;
    }

.modal {
    height: 400px;
    max-height: 100%;
    width: 600px;
    max-width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e8a87c;
    color: white;
    font-size: 2em;
    padding: 20px;
    overflow: scroll;
    border-radius: 20px;}

.modal button {
  font-size: 1em;
  position: fixed;
  top: 5%;
  left: 70%;}

  h2 {font-size: 3em;}

  p {font-size: 2em;}

 .modal img {text-align: center; border-radius: 30px; margin: 10px; height: 150px;}

 .zipcode, .pagenum {background-color: #c38d9d; border: 2px solid #E27D60; padding: 10px; font-size: 2em; color: white; border-radius: 20px; text-transform: uppercase; margin: 10px 0; text-align: center;}

 /* Portrait and Landscape */
@media only screen and (max-width: 600px) {

      .modal {font-size: 2em; height: 200px; width: 300px;}

      .record {font-size: 2em;}

       .zipcode {background-color: #c38d9d; border: 2px solid #E27D60; padding: 5px; font-size: 1em; color: white; border-radius: 20px; text-transform: uppercase; margin: 5px 0; text-align: center;}

       button {background-color: #c38d9d; border: 2px solid #E27D60; padding: 5px; font-size: 3em; color: white; border-radius: 20px; text-transform: uppercase; margin: 5px 0;}


   }
